.link {
  display: inline-block;
  text-decoration: none;
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
  font-weight: 500;
  color: #00b3ff;
  font-size: 75px;
  
}
.link:last-child{
  margin-left: 50px;
}
.activeLink {
  color: #f89501;
}
